
.services-text{
  display: flex;
  align-items: center;
  gap: 24px;
}
.services-text p{
    max-width: 800px;
}


.services-main-content{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px 25px;
}


.grid-items {
  max-height: 85vh;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.24);
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.grid-items img{

  width: 100%;
  height: 55%;
  object-fit: cover;
  
}
.grid-items h1{
  font-size: 45px;
  font-weight: 500;
  padding: 12px 24px 0 24px;
}

.grid-items p{
  padding: 10px 24px;
}


.grid-items button{
  margin: 0 auto 24px 24px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.learn-more-btn{
  display: inline-block;
  background-color: #FBA500;

}
.service-btn{
  display: inline-block;
  margin-left: 12px;
  color: white;
  background-color: #005774;
}

.first-s{
  grid-column: span 5;
}
.first-s h1{
  position: relative;
  font-style: italic;
  font-weight: 700;
  margin-top: -80px;
  margin-left: 8%;
  font-size: 90px;
  background: linear-gradient(to bottom, #ffffff 50%, #FBA500 50%);
  -webkit-background-clip: text;
  color: transparent;
}




.second-s{
  grid-column: span 4;
}
.second-s h1{
  font-weight: 600;
  padding: 12px 24px 0 24px;
  font-family: monospace;
}
.second-s img{
  object-position: 0 33%;
}


.third-s{
  grid-column: span 4;
}

.fourth-s{
  grid-column: span 5;
}