


/* .hero{
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 35px;
} */

.gif{
    position:fixed;
    width: 20vw;
    height:40vh;
    top: 30vh;
    right:40vw;
    /* transform: translate(-50%, -50%); */
}


