.carousel {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  margin-top: -150px;
  border-top: 1px solid #FBA500;
  border-bottom: 1px solid #FBA500;
}

.carousel-track {
  display: flex;
  gap: 130px;
  animation: scroll 20s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.carousel-item img {
  width: 30px;
  
}

.carousel-item p {
  display: inline;
  margin: 0;
  font-size: 10px;
  color: #FBA500;
visibility: hidden;}

.carousel-item:hover {
  filter: invert(63%) sepia(79%) saturate(2279%) hue-rotate(3deg) brightness(106%) contrast(104%);
  transform: translateY(-10px);
}
.carousel-item:hover  p{ 
  visibility: visible;
  
}



/* Animation for continuous movement */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
