.carousel {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  border-top: 1px solid #FBA500;
  border-bottom: 1px solid #FBA500;
}

.carousel-track {
  display: flex;
  gap: 120px;
  animation: scroll 20s linear infinite;
}

.carousel-track img {
  width: 40px;
  
}

.carousel-track img:hover {
  filter: invert(63%) sepia(79%) saturate(2279%) hue-rotate(3deg) brightness(106%) contrast(104%);

}

/* Animation for continuous movement */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
