

.section {
margin: 80px 8% 140px 8%;
}

P{
    font-size: 20px;
    color: #404040;
    line-height: 32px;
}


/* title style for sections */
.title {
    font-size: 32px;
    font-weight: 500;
    color: #005774;
    padding: 10px 16px;
    border-bottom: 1px solid #005774;
    border-radius: 0 0 16px 16px;
    display: inline-block;
}



.biggest-text{
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
}


.biggest-text span{
    color: #FBA500;
}

